{
    "accounts": [
        {
            "name": "Promtorg",
            "data": {
                "donors": [
                    {
                        "name": "mkslift",
                        "link": "https://www.mkslift.ru/export_xml.php?key=176ec86554e7edcec3dd5ef05dd58d9d",
                        "discount": 10,
                        "lower_price_limit": 8000,
                        "yandex_image_folder_path": "MKSLIFT Main pictures",
                        "annex": "<p><br/></p> <p><strong>✅✅✅✅✅ Гарантия 12 месяцев! 💫💫💫💫💫</strong></p> <p><strong>🚕🚕🚕🚕🚕 Оперативная Доставка по России Транспортными компаниями 🚛🚛🚛 Доставляем по СПб за 1 час! 🚁🚁🚁🚁🚁</strong></p> <p><strong>🔥🔥🔥🔥🔥 Добавляйте объявление в избранное что бы не потерять  🔥🔥🔥🔥🔥</strong></p> <p><strong>🔫🔨🔧 Оперативный гарантийный сервис! 🔫🔨🔧</strong></p> <p><strong>📲📲📲 Обращайтесь за помощью в сообщениях или по телефону, всегда на связи! 📞📞📞</strong></p>",
                        "update": "true",
                        "check_new": "true"
                    },
                    {
                        "name": "ironmac",
                        "link": "https://ironmac-kompressor.com/upload/ironmac_kompressor_com.csv",
                        "discount": 25,
                        "lower_price_limit": 3000,
                        "yandex_image_folder_path": "IronMac Main pictures",
                        "annex": "<p><br/></p> <p><strong>✅✅✅✅✅ Гарантия 12 месяцев! 💫💫💫💫💫</strong></p> <p><strong>🚕🚕🚕🚕🚕 Оперативная Доставка по России Транспортными компаниями 🚛🚛🚛 Доставляем по СПб за 1 час! 🚁🚁🚁🚁🚁</strong></p> <p><strong>🔥🔥🔥🔥🔥 Добавляйте объявление в избранное что бы не потерять  🔥🔥🔥🔥🔥</strong></p> <p><strong>🔫🔨🔧 Оперативный гарантийный сервис! 🔫🔨🔧</strong></p> <p><strong>📲📲📲 Обращайтесь за помощью в сообщениях или по телефону, всегда на связи! 📞📞📞</strong></p>",
                        "update": "true",
                        "check_new": "true"
                    }, 
                    {
                        "name": "corsel_promtorg",
                        "link": [
                                "https://www.corsel.ru/catalog/kompressory/kompressory_vintovye/",
                                "https://www.corsel.ru/catalog/kompressory/resivery/",
                                "https://www.corsel.ru/catalog/kompressory/osushiteli/",
                                "https://www.corsel.ru/catalog/kompressory/turbovozdukhoduvki/",
                                "https://www.corsel.ru/catalog/oborudovanie_dlya_podgotovki_poverkhnostey/abrazivostruynye_ustanovki/",
                                "https://www.corsel.ru/catalog/oborudovanie_dlya_podgotovki_poverkhnostey/komplektuyushchie_i_raskhodnye_materialy_dlya_peskostruynykh_ustanovok/",
                                "https://www.corsel.ru/catalog/oborudovanie_dlya_podgotovki_poverkhnostey/peskostruynye_sopla/",
                                "https://www.corsel.ru/catalog/oborudovanie_dlya_podgotovki_poverkhnostey/sredstva_zashchity_peskostruyshchika/",
                                "https://www.corsel.ru/catalog/oborudovanie_dlya_podgotovki_poverkhnostey/shtukaturnye_stantsii/"
                                ],
                        "discount": 3,
                        "lower_price_limit": 15000,
                        "yandex_image_folder_path": "Corsel-Promtorg Main pictures",
                        "annex": "!!!",
                        "update": "true",
                        "check_new": "true"
                    }
                ],
                "yandex_token": "",
                "excel_file_name": "Promtorg"
            }
        },
        {
            "name": "Dvadomkrataa",
            "data": {
                "donors": [
                    {
                        "name": "garopt",
                        "link": [
                                "https://garopt.online/yandexmarket/95605b0a-b97e-49ea-8026-82ed7393f9b8.xml",
                                "https://garopt.online/yandexmarket/5e13177a-8ca9-483d-b442-b9f3a7f3fcbc.xml",
                                "https://garopt.online/yandexmarket/9fc40bc6-b745-48be-a919-ec4a4572b21a.xml"
                                ],
                        "discount": 0,
                        "lower_price_limit": 3000,
                        "yandex_image_folder_path": "Garopt Main pictures",
                        "annex": "-----------------------------------------------------------------------\n⚡️ У нас есть Верстаки и тележки для инструмента, стеллажи.\n⚡️ Отличное качество нашего производтва! Отличный внешний вид! Низкая цена!\n⚡️ Если вы решили приобрести более 1 верстака, сообщите об этом, сделаем Вам дополнительную скидку !!!\n⚡️ Оставьте отзыв после покупки и получите КЭШБЭК за покупку !!!\n⚡️ Большой ассортимент по цветам и компоновке всегда на нашем складе\n*************************\nТЕЛО ОПИСАНИЯ\n-----------------------------------------------------------------------\n⚡️ Всегда рады, помочь с выбором Тележки или Верстака !!!\n⚡️ В нашем профиле много Интересных моделей металлической мебели и не только !!!\n🚛 Доставка по всей России: ПЭК Деловые линии или любая удобная вам ТК  Курьерская доставка по СПб\n⚡️ Любые способы оплаты\n⚡️ Сохраняйте объявление в избранное что бы не потерять !!!\n📍 Адрес: Санкт-Петербург, улица Розенштейна, 39к3",
                        "update": "true",
                        "check_new": "true"
                    }, 
                    {
                        "name": "100kwatt_hydr",
                        "link": "https://100kwatt.ru/gidravlicheskoe-oborudovanie-i-instrument/page-264/",
                        "discount": 3,
                        "lower_price_limit": 20000,
                        "yandex_image_folder_path": "100kwatt Hydr Main pictures",
                        "annex": "-----------------------------------------------------------------------\n⚡️ Всегда рады, помочь с выбором Гидравлики высокого давления !!!\n⚡️ В нашем профиле много Интересного гидравлического оборудования: домкраты, гайковерты, маслостанции, ручные-ножные-пневмогидравлические насосы, съемники двух-трехлапые, шиногибы-сшг-шинорезы, перфораторы-пробойники металла и другое оборудование под любые Ваши задачи  !!!\n🚛 Доставка по всей России: ПЭК Деловые линии или любая удобная вам ТК Курьерская доставка по СПб\n⚡️ Любые способы оплаты\n⚡️ Сохраняйте объявление в избранное что бы не потерять !!!\n📍 Адрес: Санкт-Петербург, улица Розенштейна, 39к3",
                        "update": "true",
                        "check_new": "true"
                    }, 
                    {
                        "name": "corsel_dvadomkrata",
                        "link": [
                                "https://www.corsel.ru/catalog/motopompy/motopompy_dlya_gryaznoy_vody/",
                                "https://www.corsel.ru/catalog/motopompy/motopompy_dlya_chistoy_vody/",
                                "https://www.corsel.ru/catalog/motopompy/pozharnye_motopompy/",
                                "https://www.corsel.ru/catalog/motopompy/diafragmennye_motopompy/",
                                "https://www.corsel.ru/catalog/motopompy/motopompy_dlya_gustykh_i_vyazkikh_zhidkostey/",
                                "https://www.corsel.ru/catalog/stroitelnoe_vibrooborudovanie/vibratsionnye_katki/",
                                "https://www.corsel.ru/catalog/stroitelnoe_vibrooborudovanie/vibroplity/",
                                "https://www.corsel.ru/catalog/stroitelnoe_vibrooborudovanie/vibroreyki/",
                                "https://www.corsel.ru/catalog/stroitelnoe_vibrooborudovanie/vibrotrambovki/",
                                "https://www.corsel.ru/catalog/stroitelnoe_vibrooborudovanie/preobrazovateli_chastoty_i_napryazheniya/",
                                "https://www.corsel.ru/catalog/kliningovoe_oborudovanie/moyki_vysokogo_davleniya/",
                                "https://www.corsel.ru/catalog/kliningovoe_oborudovanie/polomoechnye_mashiny/",
                                "https://www.corsel.ru/catalog/generatory_i_dvigateli/benzogeneratory/",
                                "https://www.corsel.ru/catalog/generatory_i_dvigateli/generatory_dizelnye/",
                                "https://www.corsel.ru/catalog/teplovoe_oborudovanie/obogrevateli/",
                                "https://www.corsel.ru/catalog/teplovoe_oborudovanie/vozdushnye_teplovye_zavesy/",
                                "https://www.corsel.ru/catalog/teplovoe_oborudovanie/teplovye_pushki/",
                                "https://www.corsel.ru/catalog/snegouborochnaya_tekhnika/snegouborshchiki/",
                                "https://www.corsel.ru/catalog/stroitelnoe_oborudovanie/osvetitelnye_vyshki/"
                                ],
                        "discount": 3,
                        "lower_price_limit": 20000,
                        "yandex_image_folder_path": "Corsel-DvaDomkrata Main pictures",
                        "annex": "!!!",
                        "update": "true",
                        "check_new": "true"
                    }
                ],
                "yandex_token": "",
                "excel_file_name": "Dva Domkrata"
            }
        },
        {
            "name": "Stoshka",
            "data": {
                "donors": [
                    {
                        "name": "wiederkraft",
                        "link": "https://wiederkraft.ru/shop/page",
                        "discount": 8,
                        "lower_price_limit": 8000,
                        "yandex_image_folder_path": "WiederKraft Main pictures",
                        "annex": "-----------------------------------------------------------------------\nВ наличии комплектующие и расходные материалы.\n\nОпыт работы более 10 лет в сфере оборудования для СТО.\n\nДоставка по Санкт-Петербургу Лен.Области с возможностью оплаты при получении\n\nДоставка по России Транспортными компаниями\n\nВарианты оплаты:\nНаличными, картой, по б/н со счета ИП или ООО",
                        "update": "true",
                        "check_new": "false"
                    },
                    {
                        "name": "optimus",
                        "link": "https://optimus.su/catalog/",
                        "discount": 0,
                        "lower_price_limit": 8000,
                        "yandex_image_folder_path": "Optimus Main pictures",
                        "annex": "-----------------------------------------------------------------------\nВ наличии комплектующие и расходные материалы.\n\nОпыт работы более 10 лет в сфере оборудования для СТО.\n\nДоставка по Санкт-Петербургу Лен.Области с возможностью оплаты при получении\n\nДоставка по России Транспортными компаниями\n\nВарианты оплаты:\nНаличными, картой, по б/н со счета ИП или ООО",
                        "update": "true",
                        "check_new": "false"
                    }
                ],
                "yandex_token": "",
                "excel_file_name": "Stoshka"
            }
        }
    ]
}

